@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);

.fltr-cat
{
	margin: 0px 0px 20px 0px;
}

.fltr-cat-caption
{
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin: 0px 0px 5px 0px;
}

.fltr-checkbox
{
	cursor: pointer;
}

.fltr-label
{
	margin: 0px 15px 0px 0px;
	padding: 0px 0px 0px 6px;
	font-size: 15px;
	cursor: pointer;
}

.fltr-check
{
	background: url(../img/sanexFilterCheckbox.png) no-repeat;
	padding: 0px 0px 0px 18px;
	display: inline-block;
	float: left;
	height: 12px;
	font-size: 14px;
	line-height: 14px;
	margin: 0px 20px 0px 0px;
	cursor: pointer;
	color: #000;
}

.fltr-check:hover,
.fltr-check:active,
.fltr-check:visited,
.fltr-check:focus
{
	text-decoration: none;
	color: #000;
}

.fltr-check.active
{
	background-position: 0 -13px;
}