.fltr-wrapper
{
	margin-bottom: 50px;
}

.fltr-cat
{
	margin: 0px 0px 20px 0px;
}

.fltr-cat-caption
{
	display: block;
	font-weight: bold;
	font-size: 15px;
	margin: 0px 0px 5px 0px;
}

.fltr-checkbox
{
	cursor: pointer;
}

.fltr-label
{
	margin: 0px 15px 0px 0px;
	padding: 0px 0px 0px 6px;
	font-size: 15px;
	cursor: pointer;
}

.fltr-check, .fltr-check.horizontal
{
	background: url(../img/sanex-filter-checkbox.png) no-repeat;
	padding: 0px 0px 0px 18px;
	display: inline-block;
	float: left;
	height: 12px;
	font-size: 14px;
	line-height: 14px;
	margin: 0px 20px 0px 0px;
	cursor: pointer;
	color: #000;
	text-decoration: none;
}

.fltr-check.vertical
{
	display: block;
	float: none;
	margin-bottom: 10px;
}

.fltr-check:hover,
.fltr-check:active,
.fltr-check:visited,
.fltr-check:focus
{
	text-decoration: none;
	color: #000;
}

.fltr-check.active
{
	background-position: 0 -13px;
}

.fltr-range-amount{
	display: block;
	width:auto;
	height: 20px;
}

.fltr-range
{
	height: 10px!important;
	min-width: 120px;
	width: 90%;
	margin: 0px 0px 10px 0px;
	border: 1px solid #8b9cc5;
	border-radius: 0;
}

.fltr-range .ui-slider-handle
{
	width: 14px;
	height: 14px;
	top: -2px;
	border: none;
	border-radius: 0;
	background: #8b9cc5;
	outline: none;
	cursor: pointer;
}

.fltr-range .ui-slider-range
{
	background: #8b9cc5;
	opacity: 0.5;
}